// colors
$bg-color: #f4f7f6;
$card-bg-color: white;
$error-color: #fd1414;
$btn-primary: #49c5b6;
$text-color: #202121;

// breakpoints
$mobile-size: 767px;

// fonts
$header-font: 'Barlow Condensed', sans-serif;
$main-font: 'Hind', sans-serif;

