@import '../../styles/variables';

h1.text-center {
  font-family: $header-font;
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 12px;
}

.film-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px 12px;
}

